<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inquiryhome">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InquiryHome">
        <activity
            android:name=".view.Chat.ChatPatientActivity"
            android:label="@string/title_activity_chat_patient"
            android:theme="@style/Theme.InquiryHome.NoActionBar" />
        <activity
            android:name=".view.Login.LoginDoctorActivity"
            android:label="@string/title_activity_login_doctor"
            android:theme="@style/Theme.InquiryHome.NoActionBar" />
        <activity
            android:name=".view.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.InquiryHome.NoActionBar" />
        <activity
            android:name=".view.Home.HomeDoctorActivity"
            android:label="@string/title_activity_home_doctor"
            android:theme="@style/Theme.InquiryHome.NoActionBar" />
        <activity
            android:name=".view.Login.LoginAcitivity"
            android:label="@string/title_activity_login_acitivity"
            android:theme="@style/Theme.InquiryHome.NoActionBar" />
        <activity
            android:name=".view.StartActivity"
            android:label="@string/title_activity_start"
            android:theme="@style/Theme.InquiryHome.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ExploreDoctorAtivity"
            android:label="@string/title_activity_explore_doctor_ativity"
            android:theme="@style/Theme.InquiryHome.NoActionBar" />
        <activity
            android:name=".view.Home.HomePatientActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.InquiryHome.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.InquiryHome.NoActionBar" />
        <activity
            android:name=".view.Register.PatientRegisterActivity"
            android:label="@string/title_activity_patient_register"
            android:theme="@style/Theme.InquiryHome.NoActionBar" />
        <activity
            android:name=".view.Register.DoctorRegisterActivity"
            android:label="@string/title_activity_doctor_register"
            android:theme="@style/Theme.InquiryHome.NoActionBar" />
    </application>

</manifest>